{% extends '_layout.html' %}

{% block title %}User Management{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    <div class=" col-12 col-md-4 mb-3">
        <div class="card">
            <div class="card-body" style="height: auto">
                <h1>User Management</h1>
                <p>This is the User Management page!</p>
            </div>
        </div>
    </div>
</div>

<div id="user-management-data-grid-container">
    <div id="user-management-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
</div>

<div class="modal" id="edit-user-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit user</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" id="edit-user-id" name="user_id">
            <div class="mb-3">
                <label class="form-label">Roles</label>
                <div id="edit-user-roles-container">
                </div>
            </div>
            <div id="custom-badge-block" class="mb-3">
              <h3>Custom Badge</h3>
              <p class="text-secondary mb-2">This will display like a role on the user's profile page, but is purly visual and has no function</p>
              <div id="custom-badge-data">
                <label class="form-check form-switch">
                  <input id="toggle-custom-badge" class="form-check-input" type="checkbox"
                      oninput="toggleCustomBadgeOnClick()">
                  <span class="form-check-label">Enable custom badge</span>
                </label>
                <div id="custom-badge-content" style="display: none;">
                  <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input id="edit-user-badge-name" class="form-control" type="text" placeholder="Badge Name">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Icon</label>
                    <div id="edit-user-badge-icon" class="form-selectgroup">
                      <!--Crown-->
                      <label class="form-selectgroup-item">
                        <input type="radio" class="form-selectgroup-input" value="crown" name="badge-icon">
                        <span class="form-selectgroup-label">
                          <i class="ti ti-crown" style="color: rgb(255, 215, 0);"></i>
                        </span>
                      </label>
                      <!--Notebook-->
                      <label class="form-selectgroup-item">
                        <input type="radio" class="form-selectgroup-input" value="notebook" name="badge-icon">
                        <span class="form-selectgroup-label">
                          <i class="ti ti-notebook" style="color: rgb(255, 215, 0);"></i>
                        </span>
                      </label>
                      <!--Cash-->
                      <label class="form-selectgroup-item">
                        <input type="radio" class="form-selectgroup-input" value="cash" name="badge-icon">
                        <span class="form-selectgroup-label">
                          <i class="ti ti-cash" style="color: rgb(255, 215, 0);"></i>
                        </span>
                      </label>
                      <!--Ticket-->
                      <label class="form-selectgroup-item">
                        <input type="radio" class="form-selectgroup-input" value="ticket" name="badge-icon">
                        <span class="form-selectgroup-label">
                          <i class="ti ti-ticket" style="color: rgb(255, 215, 0);"></i>
                        </span>
                      </label>
                      <!--Heart-->
                      <label class="form-selectgroup-item">
                        <input type="radio" class="form-selectgroup-input" value="heart" name="badge-icon">
                        <span class="form-selectgroup-label">
                          <i class="ti ti-heart" style="color: rgb(255, 215, 0);"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <a id="edit-user-button" href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
              <i class="ti ti-device-floppy"></i>
              <span class="btn-text ms-2">Save</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<p id="user-request-response"></p>

<script src="{{ url_for('static', filename='js/admin/user_management.js') }}" type="module"></script>

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

{% endblock %}