<!-- Navigation Bar -->
<header class="navbar navbar-expand-sm navbar-light d-print-none">
    <div class="container-fluid">
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="#">JAMS</a>
        </h1>
          {% if current_user.is_authenticated %}
          <div id="nav_logout_button" class="navbar-nav flex-row order-md-last">
            <div class="nav-item">
              <a class="nav-link" href="{{ url_for('security.logout')}}">
                <span class="nav-link-title">
                  Logout
                </span>
              </a>
            </div>
        </div>
        
        <div id="nav_user_info" class="navbar-nav flex-row order-md-last">
            <div class="nav-item">
            <a href="#" class="nav-link d-flex lh-1 text-end p-0">
                <div class="d-none d-xl-block ps-2">
                    <div id="nav_user_name">{{ current_user.get_display_name() }}</div>
                    <div id="nav_user_role"class="mt-1 small text-secondary">{{ current_user.get_main_role() }}</div>
                </div>
            </a>
            </div>
        </div>
        {% endif %}

        <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
              <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('routes.private.general.frontend.index')}}">
                          <span class="nav-link-title">
                              Home
                          </span>
                      </a>
                  </li>
                  {% if current_user.user_has_role("Volunteer") %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                              <span class="nav-link-title">
                                  Management 
                              </span>
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="{{ url_for('routes.private.management.frontend.workshop_catalog')}}">
                                  Workshop Catalog
                              </a>
                              <a class="dropdown-item" href="{{ url_for('routes.private.management.frontend.locations_timeslots')}}">
                                Locations and Timeslots
                            </a>
                          </div>
                      </li>
                  {% endif %}
                  {% if current_user.user_has_role("Admin") %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                              <span class="nav-link-title">
                                  Admin 
                              </span>
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="{{ url_for('routes.private.admin.frontend.user_management')}}">
                                  User Management
                              </a>
                          </div>
                      </li>
                  {% endif %}
              {% endif %}
                {% if not current_user.is_authenticated %}
                <li id="nav_login_button" class="nav-item">
                  <a class="nav-link" href="{{ url_for('security.login')}}">
                    <span class="nav-link-title">
                      Login
                    </span>
                  </a>
                </li>
                <li id="nav_register_button" class="nav-item">
                  <a class="nav-link" href="{{ url_for('security.register')}}">
                    <span class="nav-link-title">
                      Register
                    </span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
    </div>
</header>