@media (min-width: 768px) {
    .col-md-3 .d-flex {
        height: 100%;
    }

    .col-md-3 .card {
        flex: 1;
    }

    .col-md-9 .card {
        height: 100%;
    }
}

#live-event-stats-block,
#post-event-stats-block {
  display: none;
}


