{% extends '_layout.html' %}

{% block title %}Volunteer Signup{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="main-content">
        <div class="card"></div>
        <div class="card-body" style="height: 10rem">
            
            <h1>Volunteer Signup</h1>
            <div class="col" id="event-details">
                <div class="grid-columns-flex">
                    {% if user_has_access_to_page('user_management') %}
                    <div class="mb-3">
                        <h4>Select User</h4>
                        <a id="select-user-dropdown-button" href="#" class="btn dropdown-toggle" data-bs-toggle="dropdown">Select Version</a>
                        <div id="select-user-dropdown" class="dropdown-menu">
                          </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="schedule-container" class="schedule-container">
        <div class="grid-container" id="grid-container"></div>
    </div>
</div>
</div>

<script src="{{ url_for('static', filename='js/volunteer/volunteer_signup.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/schedule_grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/workshop_card.css') }}">
{% endblock %}