{% extends '_layout.html' %}

{% block title %}Volunteer Attendance{% endblock %}

{% block content %}

<h1>Volunteer Attendance</h1>
<p class="event-info"></p>


<div class="card card-md">
    <div id="main-form" class="card-body">
        <div class="mb-3">
            <h3 id="update-attendance-title">Add Attendance</h1>
        </div>
        <div class="mb-3">
            <label class="form-check form-switch">
                <input id="update-attendance-setup" class="form-check-input" type="checkbox">
                <span class="form-check-label">Attending Setup</span>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-check form-switch">
                <input id="update-attendance-main" class="form-check-input" type="checkbox">
                <span class="form-check-label">Attending Main Event</span>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-check form-switch">
                <input id="update-attendance-packdown" class="form-check-input" type="checkbox">
                <span class="form-check-label">Attending packdown</span>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label">Note</label>
            <textarea id="update-attendance-note" class="form-control" name="note" maxlength="255"></textarea>
        </div>
    </div>
</div>

<button id="update-attendance-button" class="btn btn-primary m-3" onclick="updateAttendanceOnClick()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-user-check">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
        <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
        <path d="M15 19l2 2l4 -4" />
    </svg>
    <span class="btn-text">Update Attendance</span>
</button>

<div id="volunteer-attendance-data-grid-container"></div>
<div id="volunteer-attendance-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
</div>

<script src="{{ url_for('static', filename='js/volunteer/volunteer_attendance.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/volunteer/volunteer_attendance.css') }}">

{% endblock %}