body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    min-height: 100vh; /* Make sure it takes full height */
}

.main-content {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.select-event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.select-event-dropdown {
    width: 60%;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 20px;
}

.event-details-element {
    display: flex;
    flex-direction: row;
}

.workshop-selection-container {
    display: inline-block;
    width: 90%;
    height: 320px;
    border-radius: 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: sticky;
    top: 10px;
    z-index: 100;
    overflow: hidden;
}

.theme-light .workshop-selection-container-style {
    border: 1px solid black;
}

.theme-dark .workshop-selection-container-style {
    border: 1px solid white;
}

.workshop-list-block::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    border-style: dashed;
    border-image: url('../../images/dashed-border.png') 2 round;
    border-image-width: 0.5;
    pointer-events: none;
}

.theme-dark .workshop-list-block::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    border-style: dashed;
    border-image: url('../../images/dashed-border-dm.png') 2 round;
    border-image-width: 0.5;
    pointer-events: none;
}


.workshop-selection-tools-container {
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px 0 0 30px;
}

.theme-light .workshop-selection-tools-container-style {
    background-color: white;
    border-right: 1px solid transparent;
    border-image: url('../../images/dashed-border.png') 2 round;
}

.theme-dark .workshop-selection-tools-container-style {
    background-color: rgb(18, 27, 46);
    border-right: 1px solid transparent;
    border-image: url('../../images/dashed-border-dm.png') 2 round;
}

.workshop-selection-search-container {
    text-align: center;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 0 30px 30px 0;
}

.theme-light .workshop-selection-search-container {
    background-color: #F4F4F9;
}

.theme-dark .workshop-selection-search-container {
    background-color: #1A2234;
}

.workshop-selection-search {
    display: inline-block;
    width: 60%;
    margin: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.workshop-selection-list-container {
    position: relative;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.workshop-selection-list-container::before,
.workshop-selection-list-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    pointer-events: none;
    z-index: 5;
}

.workshop-selection-list-container::before {
    left: 0;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.workshop-selection-list-container::after {
    right: 0;
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.theme-dark .workshop-selection-list-container::before {
    left: 0;
    background: linear-gradient(to right, rgb(26, 34, 52), rgba(255, 255, 255, 0));
}

.theme-dark .workshop-selection-list-container::after {
    right: 0;
    background: linear-gradient(to left, rgb(26, 34, 52), rgba(255, 255, 255, 0));
}

.workshop-selection-list-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.workshop-selection-list-content::-webkit-scrollbar {
    display: none !important;
  }

.workshop-list-block {
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    text-align: center;
    align-content: center;
    cursor: grab;
}

.workshop-list-block:active {
    cursor: grabbing;
    grid-template-rows: 150px, 150px;
    grid-template-columns: 150px repeat(5), 150px;
}

.workshop-selection-list-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.workshop-selection-list-arrow {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 10;
}

.workshop-selection-tools-sub-container {
    display: inline-block;
    margin: 10px;
}

.badge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.workshop-selection-tools-title {
    font-weight: bold;
    margin: 5px;
}

.theme-dark .ts-wrapper {
    background-color: rgb(26,34,52);
    color: white;
}

.theme-dark .ts-control {
    background-color: rgb(26,34,52);
    color: white;
}

.theme-dark .ts-dropdown {
    background-color: rgb(26,34,52);
    color: white;
}

.theme-dark .ts-dropdown .ts-dropdown-content {
    background-color: rgb(26,34,52);
    color: white;
}

.theme-dark .ts-dropdown .ts-dropdown-option {
    background-color: rgb(26,34,52);
    color: white;
}

.theme-light .form-selectgroup-input:not(:checked) + .form-selectgroup-label {
    outline: none;
    box-shadow: none;
    border: none;
    color: black
  }

.theme-dark .form-selectgroup-input:not(:checked) + .form-selectgroup-label {
    outline: none;
    box-shadow: none;
    border: none;
    color: white
  }