# Ignore Python virtual environment
venv/

# Ignore instance folder (for storing local configuration)
instance/

# Ignore local development files
*.sqlite

# Ignore editor specific files
.vscode/
.idea/

# Ignore Python bytecode files
*.pyc

# Ignore log files
*.log

# Ignore environment configuration file
.env
migrations

# Ignore user config files
config/*.yaml
node_modules
package-lock.json
jams/static/js
