{% extends '_layout.html' %}

{% block title %}Add Event{% endblock %}

{% block content %}

<h1>Add Event</h1>
<h3> Here you can add an event or import one from eventbrite</h3>

<a type="button" class="btn btn-link link-secondary mb-3" href="{{ url_for('routes.frontend.private.management.events') }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
    </svg>
    <span class="btn-text">Back</span>
</a>

<div class="card card-md">
    <div id="main-form" class="card-body">
        {% if get_config_value('EVENTBRITE_ENABLED') %}
        <div>
            <div class="mb-3">
                <label class="form-check form-switch">
                    <input id="toggle-eventbrite-import-switch" class="form-check-input" type="checkbox"
                        oninput="toggleEventbriteImportOnChange()">
                    <span class="form-check-label">Import Event from Eventbrite</span>
                </label>
            </div>
            <div id="eventbrite-import-container" style="display: none;" class="mb-3">
                <label class="form-label">Select Event from Eventbrite</label>
                <div id="eventbrite-import-dropdown-container">
                </div>
                <p class="text-yellow"><strong>Warning: Adding an event from Eventbrite will limit yor control in
                        editing. You will only be able to update the event password. All other values will be inherited
                        from eventbrite</strong></p>
            </div>
        </div>
        {% endif %}
        <div id="main-form">
            <div class="mb-3">
                <label class="form-label required">Event Name</label>
                <input type="text" class="form-control" name="name" id="add-event-name" maxlength="100"/>
            </div>

            <div class="mb-3">
                <label class="form-label required">Event Description</label>
                <textarea class="form-control" rows="5" id="add-event-description" name="description" maxlength="255"></textarea>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1; margin: 5px;">
                    <div class="mb-3">
                        <label class="form-label required">Date</label>
                        <input type="date" class="form-control" name="date" id="add-event-date"/>
                    </div>
                </div>

                <div style="flex: 1; margin: 5px;">
                    <div class="mb-3">
                        <label class="form-label required">Start Time</label>
                        <input type="time" class="form-control" name="start" id="add-event-start"/>
                    </div>
                </div>

                <div style="flex: 1; margin: 5px;">
                    <div class="mb-3">
                        <label class="form-label required">End Time</label>
                        <input type="time" class="form-control" name="end" id="add-event-end"/>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label required">Event Capacity</label>
                <input type="number" class="form-control" name="name" id="add-event-capacity" value="0"/>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label required">Event Password</label>
            <input type="text" class="form-control" name="name" id="add-event-password" maxlength="50"/>
        </div>

        <input type="hidden" id="add-eventbrite-id" name="eventbrite_id">
        <input type="hidden" id="add-eventbrite-url" name="eventbrite_url">
    </div>
</div>

<button id="add-event-button" class="btn btn-primary mt-3" onclick="addEventOnclick()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 5l0 14" />
        <path d="M5 12l14 0" />
    </svg>
    <span class="btn-text">Add Event</span>
</button>

<script src="{{ url_for('static', filename='js/management/events/add_event.js') }}" type="module" defer></script>

{% endblock %}