{% extends '_layout.html' %}

{% block title %}Private Access Log{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem">
                <h1>Private Access Log</h1>
                <p>This is the Private Access Log page!</p>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="private-access-log-table" class="table table-vcenter">
        <thead class="sticky-top">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>URL</th>
                <th>Internal Endpoint</th>
                <th>User ID</th>
                <th>User Display Name</th>
                <th>User Roles</th>
                <th>Required Roles</th>
                <th>Status Code</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Data will be dynamically added here -->
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/monitoring/private_access_log.js') }}" defer></script>


{% endblock %}