{% extends '_layout.html' %}

{% block title %}Task Scheduler Log{% endblock %}

{% block content %}


<div class="card card-md mb-3">
    <div class="card-body mb-3">
        <h1>Task Scheduler Log</h1>
        <p>This is the Task Scheduler Log page!</p>
    </div>
</div>

<a type="button" class="btn btn-link link-secondary mb-3"
    href="{{ url_for('routes.frontend.private.monitoring.logs') }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
    </svg>
    <span class="btn-text">Back</span>
</a>

<div id="task-scheduler-log-data-grid-container">
    <div id="task-scheduler-log-data-grid" class="ag-theme-quartz"></div>
</div>

<script src="{{ url_for('static', filename='js/monitoring/task_scheduler_log.js') }}" type="module" defer></script>


{% endblock %}