{% extends '_layout.html' %}

{% block title %}Schedule Planner{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="main-content">

        <h1>Event Schedule Planner</h1>
        <div id="event-details"></div>


        <div id="workshop-selection-container" class="workshop-selection-container workshop-selection-container-style" style="display: none;">
            <div id="workshop-selection-tools-container"
                class="workshop-selection-tools-container workshop-selection-tools-container-style">
            </div>
            <div class="workshop-selection-search-container">
                <div class="input-icon workshop-selection-search">
                    <span class="input-icon-addon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="icon">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                            <path d="M21 21l-6 -6"></path>
                        </svg>
                    </span>
                    <input id="workshop-search-box" type="text" value="" class="form-control"
                        placeholder="Workshop Name…" aria-label="Search for workshops">
                </div>
                <div class="workshop-selection-list-container">
                    <div id="workshop-selection-list" class="workshop-selection-list-content">

                    </div>
                </div>
                <div class="workshop-selection-list-arrows">
                    <div class="workshop-selection-list-arrow left" id="workshop-selection-list-left-arrow">
                    </div>
                    <div class="workshop-selection-list-arrow right" id="workshop-selection-list-right-arrow">
                    </div>
                </div>
            </div>
        </div>
        <div id="schedule-block" style="display: none;">
            <div id="schedule-container" class="schedule-container">
                <div class="grid-container" id="grid-container">
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="mass-place-workshop-modal" tabindex="-1" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-warning"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon mb-2 text-warning icon-lg">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v4"></path>
                        <path
                            d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z">
                        </path>
                        <path d="M12 16h.01"></path>
                    </svg>
                    <h3>Are you sure?</h3>
                    <div id="mass-place-workshop-text" class="text-secondary"></div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div id="mass-place-workshop-overwrite" class="col"><a href="#" class="btn btn-outline-warning w-100"
                                    data-bs-dismiss="modal">
                                    Overwrite
                                </a></div>
                            <div id="mass-place-workshop-around" class="col"><a href="#" class="btn btn-outline-secondary w-100"
                                    data-bs-dismiss="modal">
                                    Place Around
                                </a></div>
                            <div class="col"><a href="#" class="btn btn-link link-secondary w-100" data-bs-dismiss="modal">
                                    Cancel
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="confirm-delete" class="modal modal-blur fade" id="modal-small" tabindex="-1" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-title">Are you sure?</div>
                    <div id="confirm-delete-text"></div>
                </div>
                <div class="modal-footer">
                    <button id="confirm-delete-button" type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes,
                        delete</button>
                    <button type="button" class="btn btn-link link-secondary me-auto"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="confirm-place-on-break" class="modal modal-blur fade" id="modal-small" tabindex="-1" style="display: none;"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-warning"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon mb-2 text-warning icon-lg">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9v4"></path>
                        <path
                            d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z">
                        </path>
                        <path d="M12 16h.01"></path>
                    </svg>
                    <div class="modal-title">Are you sure?</div>
                    <div id="confirm-place-text"></div>
                </div>
                <div class="modal-footer">
                    <button id="confirm-place-button" type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Yes,
                        place</button>
                    <button type="button" class="btn btn-link link-secondary ms-auto"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="session-settings-modal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Session Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Capacity</label>
                    <div class="d-flex align-items-center">
                        <input type="number" class="form-control" name="name" id="session-settings-capacity" placeholder="10" />
                        <button class="btn btn-link ms-2" id="recalculate-session-capacity">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-refresh-alert">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                                <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                                <path d="M12 9l0 3" />
                                <path d="M12 15l.01 0" />
                                </svg>
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <button class="btn btn-primary ms-auto" data-bs-dismiss="modal" id="save-session-settings">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-device-floppy">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                        <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M14 4l0 4l-6 0l0 -4" />
                      </svg>
                    Save
                    </button>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/event/schedule_planner.js') }}" type="module" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/schedule_planner.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/schedule_grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/workshop_card.css') }}">

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
{% endblock %}