@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .element-spin {
    animation: spin 2s linear infinite;
    margin: 0px;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .element-shake {
    animation: shake 0.25s;
  }

  .grid-columns-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;
  }

  .no-hover:hover {
    background-color: inherit !important;
    color: inherit !important;
    cursor: default !important;
    pointer-events: none !important;
}
  
.tag-with-indicator {
  position: relative;
  display: block;
  min-width: calc(1.4285714286em + .875rem + calc(var(--tblr-border-width)* 2));
  margin: 0;
  padding: .4375rem .75rem;
  font-size: .875rem;
  line-height: 1.4285714286;
  color: var(--tblr-muted);
  background: var(--tblr-bg-forms);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
  border-radius: 3px;
  /* Remove cursor and transition for no hover effect */
  cursor: default; /* Set cursor to default */
  transition: none; /* Remove transition */
  white-space: nowrap;
}

.container-half-tight {
  --tblr-gutter-x: var(--tblr-content-padding);
    --tblr-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--tblr-gutter-x)* .5);
    padding-left: calc(var(--tblr-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 50rem;
}

/* Mobile (Smaller screens) */
@media (max-width: 600px) {
  .action-text {
      display: none;
  }
}