{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem">
                <h1>Locations and Timeslots</h1>
                <p>This is the Locations and Timeslots page!</p>
            </div>
        </div>
    </div>
</div>

<h1>Locations</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-location-modal">Add
    Location</button>

<div class="modal" id="add-location-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Location Name</label>
                    <input type="text" class="form-control" name="name" id="add-location-name"
                        placeholder="Your location name" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="addLocationOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Create new Location
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="edit-location-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-location-id" name="location_id">
                <div class="mb-3">
                    <label class="form-label">Location Name</label>
                    <input type="text" class="form-control" name="name" id="edit-location-name"
                        placeholder="Your location name" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="editLocationOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Edit Location
                </a>
            </div>
        </div>
    </div>
</div>

<div id="locations-data-grid-container">
    <div id="locations-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
</div>

<h1>Timeslots</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-timeslot-modal">Add
    Timeslots</button>

<div class="modal" id="add-timeslot-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Timeslot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Timeslot Name</label>
                    <input type="text" class="form-control" name="name" id="add-timeslot-name"
                        placeholder="Your timeslot name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Start time</label>
                    <input type="time" class="form-control" name="name" id="add-timeslot-start-time"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">End time</label>
                    <input type="time" class="form-control" name="name" id="add-timeslot-end-time"/>
                </div>
                <div class="mb-3">
                    <label class="form-check form-switch">
                        <input id="add-timeslot-is-break" class="form-check-input" type="checkbox">
                        <span class="form-check-label">Break</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="addTimeslotOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Create new Timeslot
                </a>
            </div>
        </div>
    </div>
</div>

<div id="timeslots-data-grid-container">
    <div id="timeslots-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
</div>

<div class="modal" id="edit-timeslot-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Timeslot</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-timeslot-id" name="timeslot_id">
                <div class="mb-3">
                    <label class="form-label">Timeslot Name</label>
                    <input type="text" class="form-control" name="name" id="edit-timeslot-name"
                        placeholder="Your timeslot name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Start time</label>
                    <input type="time" class="form-control" name="name" id="edit-timeslot-start-time"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">End time</label>
                    <input type="time" class="form-control" name="name" id="edit-timeslot-end-time"/>
                </div>
                <div class="mb-3">
                    <label class="form-check form-switch">
                        <input id="edit-timeslot-is-break" class="form-check-input" type="checkbox">
                        <span class="form-check-label">Break</span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="editTimeslotOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Edit Timeslot
                </a>
            </div>
        </div>
    </div>
</div>

<p id="timeslot-request-response"></p>

<script src="{{ url_for('static', filename='js/management/locations_timeslots.js') }}" defer></script>

{% endblock %}