{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-deck row-cards">
    <div class="col-4">
      <div class="card">
        <div class="card-body" style="height: 10rem">
          <h1>Workshop catalog</h1>
          <p>This is the Workshop Catalog page!</p>
        </div>
      </div>
    </div>
  </div>

  <button id="open-add-workshop-modal-button" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#add-workshop-modal">Add Workshop</button>

  <div class="modal" id="add-workshop-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Workshop</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Workshop Name</label>
            <input type="text" class="form-control" name="name" id="add-workshop-name"
              placeholder="Your workshop name" />
          </div>
          <div class="mb-3">
            <label class="form-label">Workshop Description</label>
            <textarea class="form-control" rows="5" id="add-workshop-description" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Minimum Volunteers</label>
            <div class="input-group">
              <input type="number" class="form-control text-center" value="0" id="add-workshop-min_volunteers"
                name="min_volunteers">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Difficulty</label>
            <select class="form-select" id="add-workshop-difficulty">
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Worksheet file (.md)</label>
            <input type="file" id="add-workshop-worksheet" name="file">
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <a href="#" onclick="addWorkshopOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
              Create new Workshop
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



    <div class="modal" id="edit-workshop-modal" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Workshop</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="edit-workshop-id" name="workshop_id">
            <div class="mb-3">
              <label class="form-label">Workshop Name</label>
              <input type="text" class="form-control" name="name" id="edit-workshop-name"
                placeholder="Your workshop name" />
            </div>
            <div class="mb-3">
              <label class="form-label">Workshop Description</label>
              <textarea class="form-control" rows="5" id="edit-workshop-description" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Minimum Volunteers</label>
              <div class="input-group">
                <input type="number" class="form-control text-center" value="0" id="edit-workshop-min_volunteers"
                  name="min_volunteers">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Difficulty</label>
              <select class="form-select" id="edit-workshop-difficulty">
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Worksheet file (.md)</label>
              <p id="edit-workshop-current-file"></p>
              <input type="file" id="edit-workshop-worksheet" name="file">
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <a href="#" onclick="editWorkshopOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
              Edit workshop
            </a>
          </div>
        </div>
      </div>
    </div>





    <div id="workshops-data-grid-container">
      <div id="workshops-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
  </div>

    <script src="{{ url_for('static', filename='js/management/workshop_catalog.js') }}" defer></script>
  </div>
  {% endblock %}