/*Schedule Grid*/

.schedule-container {
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.grid-container {
    display: grid;
    width: fit-content;
}

.header {
    font-weight: bold;
    font-size: 18;
    position: relative;
    align-items: center;
    justify-items: center;
}

.header-end {
    position: relative;
    text-align: center;
    align-content: center;
}

.theme-light .header::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    border: 1px solid black;
    pointer-events: none;
    z-index: 2;
}

.theme-dark .header::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    border: 1px solid white;
    pointer-events: none;
    z-index: 2;
}

.header-top {
    z-index: 99;
}

.theme-light .header-top {
    background-color: #F4F4F9;
}

.theme-dark .header-top {
    background-color: #1A2234;
}

.header-side {
    align-items: center;
    width: 100px;
}

.header-top-end {
    width: 50px;
    height: 100px;
}

.header-side-end {
    width: 100px;
    height: 50px;
}

.empty {
    opacity: 0%;
}

.header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 15px 5px 5px 5px;
}

.header-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    text-align: center;
}

.header-text-secondary {
    font-weight: normal;
    font-size: 12;
    margin-top: 0px;
    margin-bottom: 0px;
}

.session-block {
    position: relative;
    text-align: center;
    align-content: center;
}

.theme-light .session-block-style {
    background-color: rgba(240, 240, 240, 30);
}

.theme-dark .session-block {
    background-color: rgb(18, 27, 46)
}

.icon-tabler-table-plus {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon-tabler-trash {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.icon-session-action {
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.location-column-grab-container {
    position: absolute;
    transform: translateY(-8px);
    height: 15px;;
    cursor: move;
    z-index: 10;
    user-select: none;
    -webkit-user-drag: element;
}

.theme-light .location-column-grab-container-style {
    background-color: white;
    border: 1px solid black;
}

.theme-dark .location-column-grab-container-style {
    background-color: rgb(18, 27, 46);
    border: 1px solid white;
}

.location-column-grab-icon {
    padding-bottom: 6px;
}

.location-column-drop-indicator {
    position: absolute;
    width: 4px;
    background-color: rgba(37, 178, 243, 0.75);
    height: 100px;
    top: 0;
    z-index: 1000;
}

.session-block::before,
.header-end::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    border-style: dashed;
    border-image: url('../../images/dashed-border.png') 2 round;
    border-image-width: 0.5;
    pointer-events: none;
}

.theme-dark .session-block::before,
.theme-dark .header-end::before {
    content: '';
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    right: -0.5px;
    bottom: -0.5px;
    border-style: dashed;
    border-image: url('../../images/dashed-border-dm.png') 2 round;
    border-image-width: 0.5;
    pointer-events: none;
}

.center-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

.warning-text {
    color: yellow;
    font-weight: bold;
    padding: 10px;
}

.error-text {
    color: red;
    font-weight: bold;
    padding: 10px;
}

.icon-search-grid {
    width: 100px;
    height: 100px;
    color: yellow;
}

.icon-touch-grid {
    width: 100px;
    height: 100px;
    color: red;
}

@keyframes warning-error-shake {
    0% { transform: translate(-50%, -50%) translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-50%, -50%) translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-50%, -50%) translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(-50%, -50%) translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(-50%, -50%) translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-50%, -50%) translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-50%, -50%) translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(-50%, -50%) translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-50%, -50%) translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(-50%, -50%) translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(-50%, -50%) translate(1px, -2px) rotate(-1deg); }
  }

  .warning-error-shake {
    animation: warning-error-shake 0.25s;
  }

  .key-description {
    font-weight: normal;
    font-size: 12;
}