.table-responsive th.setting-column {
    width: 15%;
}

.table-responsive th.description-column {
    width: 45%;
}

.table-responsive th.value-column {
    width: 20%;
}

.table-responsive th.value-column {
    width: 20%;
}

/* Tablet (Medium screens) */
@media (max-width: 1000px) {
    .table-responsive th.setting-column {
        width: 25%;
    }

    .table-responsive th.description-column {
        width: 20%;
    }

    .table-responsive th.value-column {
        width: 45%;
    }

    .table-responsive td.description-column {
        width: 20%;
    }

    .table-responsive th.value-column {
        width: 20%;
    }
}

/* Mobile (Smaller screens) */
@media (max-width: 600px) {
    .table-responsive th.setting-column {
        width: 20%;
    }

    .table-responsive th.description-column {
        display: none;
    }

    .table-responsive th.value-column {
        width: 40%;
    }

    .table-responsive th.value-column {
        width: 40%;
    }

    .table-responsive td.description-column {
        display: none;
    }

    .action-text {
        display: none;
    }
}

.release-markdown {
    font-size: 14px;
    line-height: 1.5;
}

.release-markdown h1, 
.release-markdown h2, 
.release-markdown h3 {
    margin-top: 10px;
    font-weight: bold;
}

.release-markdown pre, .release-markdown code {
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    padding-left:0;
}

.release-markdown ul {
    list-style: disc;
    margin-left: 20px;
}

.release-markdown a {
    color: #ff9800;
    text-decoration: underline;
}
