.table-responsive th.setting-column {
    width: 15%;
}

.table-responsive th.description-column {
    width: 45%;
}

.table-responsive th.value-column {
    width: 20%;
}

.table-responsive th.value-column {
    width: 20%;
}

/* Tablet (Medium screens) */
@media (max-width: 1000px) {
    .table-responsive th.setting-column {
        width: 25%;
    }

    .table-responsive th.description-column {
        width: 20%;
    }

    .table-responsive th.value-column {
        width: 45%;
    }

    .table-responsive td.description-column {
        width: 20%;
    }

    .table-responsive th.value-column {
        width: 20%;
    }
}

/* Mobile (Smaller screens) */
@media (max-width: 600px) {
    .table-responsive th.setting-column {
        width: 20%;
    }

    .table-responsive th.description-column {
        display: none;
    }

    .table-responsive th.value-column {
        width: 40%;
    }

    .table-responsive th.value-column {
        width: 40%;
    }

    .table-responsive td.description-column {
        display: none;
    }

    .action-text {
        display: none;
    }
}