{% extends './private/admin/settings/settings-layout.html' %}

{% block settings_title %}Settings{% endblock %}

{% block settings_name %}Roles{% endblock %}

{% block settings_content %}

<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#add-role-modal" onclick="prepAddRoleForm()">Add
    Role</button>

<div class="modal" id="add-role-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Role Name</label>
                    <input type="text" class="form-control" name="name" id="add-role-name"
                        placeholder="Your role name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Role Description</label>
                    <textarea class="form-control" rows="5" id="add-role-description" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Allowed Pages</label>
                    <div id="add-role-pages-container">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="addRoleOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Create new role
                </a>
            </div>
        </div>
    </div>
</div>

<div id="roles-data-grid-container">
    <div id="roles-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
</div>

<div class="modal" id="edit-role-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Role</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-role-id" name="role_id">
                <div class="mb-3">
                    <label class="form-label">Role Name</label>
                    <input type="text" class="form-control" name="name" id="edit-role-name"
                        placeholder="Your role name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Role Description</label>
                    <textarea class="form-control" rows="5" id="edit-role-description" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Allowed Pages</label>
                    <div id="edit-role-pages-container">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="editRoleOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Edit role
                </a>
            </div>
        </div>
    </div>
</div>

<p id="roles-request-response"></p>

<script src="{{ url_for('static', filename='js/admin/settings/settings-ac-roles.js') }}" defer></script>

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

{% endblock %}