{% extends './private/admin/settings/settings-layout.html' %}

{% block settings_title %}Roles{% endblock %}

{% block settings_name %}Roles{% endblock %}

{% block settings_content %}

<a type="button" class="btn btn-primary mb-3" href="{{ url_for('routes.frontend.private.admin.settings_add_role')}}">Add
    Role</a>

<div id="roles-data-grid-container">
    <div id="roles-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
</div>

<script src="{{ url_for('static', filename='js/admin/settings/settings-ac-roles.js') }}" defer></script>

{% endblock %}