{% extends './private/admin/settings/settings-layout.html' %}

{% block settings_title %}Eventbrite{% endblock %}

{% block settings_name %}Eventbrite{% endblock %}

{% block settings_content %}

<div id="eventbrite-settings-content" class="settings-content-container">
    <p>You can enable the eventbrite API integration in order to import events and automtically have attendees accounts
        created for registration</p>

    <div id="form-container">
        <div id="eventbrite-config-loading-bar">
            <div class="progress">
                <div class="progress-bar progress-bar-indeterminate bg-green"></div>
            </div>
        </div>
        <div id="eventbrite-config-form" style="display: none;">
            <form>
                <label class="form-check form-switch">
                    <input id="toggle-eventbrite-switch" class="form-check-input" type="checkbox" oninput="toggleEventbriteIntegrationOnChange()">
                    <span class="form-check-label">Enable Eventbrite API integration</span>
                </label>

                <div id="eventbrite-token-block" style="display: none;">
                    <label class="form-label">Private API Toekn</label>
                    <div class="input-group">
                        <input id="eventbrite-api-token-input" type="password" class="form-control" autocomplete="off">
                        <button id="eventbrite-api-token-verify-button" type="button" class="btn">Verify</button>
                    </div>
                </div>

                <div id="eventbrite-org-selection-block" style="display: none;">
                    <div class="mb-3">
                        <label class="form-label">Select Organisation to pull events from</label>
                        <select id="eventbrite-org-select" class="form-control" onchange="orgSelectOnChange()"></select> 
                    </div>
                </div>
                <div id="eventbrite-advanced-config-block" style="display: none;">
                    <h2 class="mb-3">Advanced Configuration</h2>
                    <div id="eventbrite-event-select-container" class="mb-3">
                        <label class="form-label">Select Event from Eventbrite</label>
                        <p>This event will be used to configure settings that depend on an event. It is recomened that you use a template event that you create all of your events from.</p>
                        <select id="eventbrite-event-select" class="form-control" onchange="eventSelectOnChange()"></select>
                    </div>

                    <div id="attendee-import-options-block">
                        <h3>Attendee Import Options</h3>
                        <div id="eventbrite-ticket-types" class="mb-3">
                            <label class="form-label">Registerable Ticket Types</label>
                            <p>Select which ticket types are registerable (can sign up to workshops)</p>
                            <div id="ticket-type-selection-container" class="form-selectgroup-boxes row mb-3"></div>
                        </div>
                    </div>
                    
                </div>
            </form>
            <button id="eventbrite-save-button" class="btn btn-primary" onclick="eventbriteIntegrationSaveOnClick()" disabled style="display: none;">Save</button>
            <button id="eventbrite-enable-button" class="btn btn-primary" onclick="eventbriteIntegrationEnableOnClick()" style="display: none;">Enable</button>
            <button id="eventbrite-disable-button" class="btn btn-danger" onclick="eventbriteIntegrationDisableOnClick()" style="display: none;">Disable</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/admin/settings/settings-int-eventbrite.js') }}" type="module" defer></script>


{% endblock %}