{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem">
                <h1>Workshop catalog</h1>
                <p>This is the Workshop Catalog page!</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h1>Add a workshop</h1>
    <form id="add-workshop-form">
        <label for="name">Name:</label>
        <input type="text" id="add-workshop-name" name="name"><br><br>
        <label for="description">Description:</label>
        <textarea id="add-workshop-dexcription" name="description"></textarea><br><br>
        <label for="min_volunteers">Minimum Required Volunteers:</label>
        <input type="number" id="add-workshop-min_volunteers" name="min_volunteers"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>

<div>
    <table id="workshop-table">
        <thead>
            <tr>
                <th>Workshop Name</th>
                <th>Description</th>
                <th>Minimum Required Volunteers</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Data will be dynamically added here -->
        </tbody>
    </table>
</div>

<div id="edit-workshop-block" style="display: none;">
    <h1>Edit a workshop</h1>
    <form id="edit-workshop-form">
        <input type="hidden" id="edit-workshop-id" name="workshop_id"><br><br>
        <label for="name">Name:</label>
        <input type="text" id="edit-workshop-name" name="name"><br><br>
        <label for="description">Description:</label>
        <textarea id="edit-workshop-description" name="description"></textarea><br><br>
        <label for="min_volunteers">Minimum Required Volunteers:</label>
        <input type="number" id="edit-workshop-min_volunteers" name="min_volunteers"><br><br>
        <button type="submit">Submit</button>
        <button type="reset">Cancel</button>
    </form>
</div>

<p id="workshop-request-response"></p>

<script src="{{ url_for('static', filename='js/management/workshop_catalog.js') }}" defer></script>

{% endblock %}