<!-- Navigation Bar -->
<header class="navbar navbar-expand-sm navbar-light d-print-none sticky-top">
  <div class="container">
    <!-- Navbar Brand -->
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3 me-auto">
      <a href="{{ url_for('routes.frontend.private.general.dashboard')}}">JAMS</a>
    </h1>

    <!-- Navbar Toggler (for mobile view) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Theme Toggle Button (Always visible on desktop, top right) -->
    <div id="nav_theme_button" class="navbar-nav flex-row order-md-last">
      <div class="nav-item">
          <a class="nav-link px-0 hide-theme-dark" aria-label="Enable dark mode" onclick="toggleTheme()">
              <i class="ti ti-moon ti-size-3"></i>
          </a>
          <a class="nav-link px-0 hide-theme-light" aria-label="Enable light mode" onclick="toggleTheme()">
              <i class="ti ti-sun-high ti-size-3"></i>
          </a>
      </div>
  </div>

    <!-- User Info and Logout for Desktop (far right) -->
    {% if current_user.is_authenticated %}
    <div class="d-none d-md-flex ms-auto order-md-last">
      <div id="nav_user_info" class="navbar-nav flex-row order-md-last">
        <div class="nav-item">
          <a href="#" class="nav-link d-flex lh-1 text-end p-0">
            <div class="ps-2">
              <div id="nav_user_name">{{ current_user.display_name }}</div>
              <div id="nav_user_role" class="mt-1 small text-secondary">{{ current_user.main_role }}</div>
            </div>
          </a>
        </div>
      </div>
      <div id="nav_logout_button" class="navbar-nav flex-row">
        <div class="nav-item">
          <a class="nav-link" href="{{ url_for('security.logout')}}">
            <span class="nav-link-title">
              Logout
            </span>
          </a>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Collapsible Navbar Content -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav flex-column flex-md-row w-100">
        <!-- User Info and Logout for Mobile (inside collapsible menu) -->
        {% if current_user.is_authenticated %}
        <li id="nav_user_info" class="nav-item d-md-none">
          <a href="#" class="nav-link d-flex lh-1 p-0">
            <div class="ps-2">
              <div id="nav_user_name">{{ current_user.display_name }}</div>
              <div id="nav_user_role" class="mt-1 small text-secondary">{{ current_user.main_role }}</div>
            </div>
          </a>
        </li>
        <li id="nav_logout_button" class="nav-item d-md-none">
          <a class="nav-link" href="{{ url_for('security.logout')}}">
            <span class="nav-link-title">
              Logout
            </span>
          </a>
        </li>
        {% endif %}

        <!-- Other Navigation Items -->
        {% if current_user.is_authenticated %}
        <!--Event-->
        {% if user_has_access_to_page('fire_list', 'attendee_list') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-title">
              Event
            </span>
          </a>
          <div class="dropdown-menu">
            {% if user_has_access_to_page('fire_list') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.event.fire_list')}}">
              Fire List
            </a>
            {% endif %}
            {% if user_has_access_to_page('attendee_list') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.event.attendee_list')}}">
              Attendee List
            </a>
            {% endif %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.public.general.public_schedule')}}">
              Public Schedule
            </a>
          </div>
        </li>
        {% endif %}
        <!--Volunteer-->
        {% if user_has_access_to_page('volunteer_attendance', 'volunteer_signup') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-title">
              Volunteer
            </span>
          </a>
          <div class="dropdown-menu">
            {% if user_has_access_to_page('volunteer_attendance') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.volunteer.volunteer_attendance')}}">
              Volunteer Attendance
            </a>
            {% endif %}
            {% if user_has_access_to_page('volunteer_signup') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.volunteer.volunteer_signup')}}">
              Volunteer Signup
            </a>
            {% endif %}
          </div>
        </li>
        {% endif %}
        <!--Management-->
        {% if user_has_access_to_page('workshops', 'locations_timeslots') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-title">
              Management
            </span>
          </a>
          <div class="dropdown-menu">
            {% if user_has_access_to_page('workshops') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.management.workshops')}}">
              Workshops
            </a>
            {% endif %}
            {% if user_has_access_to_page('locations_timeslots') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.management.locations_timeslots')}}">
              Locations and Timeslots
            </a>
            {% endif %}
          </div>
        </li>
        {% endif %}
        <!--Admin-->
        {% if user_has_access_to_page('settings', 'user_management', 'events', 'schedule_planner') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-title">
              Admin
            </span>
          </a>
          <div class="dropdown-menu">
            {% if user_has_access_to_page('settings') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.admin.settings')}}">
              Settings
            </a>
            {% endif %}
            {% if user_has_access_to_page('user_management') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.admin.user_management')}}">
              User Management
            </a>
            {% endif %}
            {% if user_has_access_to_page('events') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.admin.events')}}">
              Events
            </a>
            {% endif %}
            {% if user_has_access_to_page('schedule_planner') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.admin.schedule_planner')}}">
              Schedule Planner
            </a>
            {% endif %}
          </div>
        </li>
        {% endif %}
        <!--Monitoring-->
        {% if user_has_access_to_page('logs') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside"
            role="button" aria-expanded="false">
            <span class="nav-link-title">
              Monitoring
            </span>
          </a>
          <div class="dropdown-menu">
            {% if user_has_access_to_page('logs') %}
            <a class="dropdown-item" href="{{ url_for('routes.frontend.private.monitoring.logs')}}">
              Logs
            </a>
            {% endif %}
          </div>
        </li>
        {% endif %}
        {% endif %}
        {% if not current_user.is_authenticated %}
        <li id="nav_login_button" class="nav-item">
          <a class="nav-link" href="{{ url_for('routes.frontend.public.general.home')}}">
            <span class="nav-link-title">
              Home
            </span>
          </a>
        </li>
        <li id="nav_login_button" class="nav-item">
          <a class="nav-link" href="{{ url_for('security.login')}}">
            <span class="nav-link-title">
              Login
            </span>
          </a>
        </li>
        <li id="nav_register_button" class="nav-item">
          <a class="nav-link" href="{{ url_for('security.register')}}">
            <span class="nav-link-title">
              Register
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>