{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-body" style="height: 10rem">
                <h1>Home</h1>
                <div id="event-details"></div>
                <a type="button" class="btn btn-primary" href="{{ url_for('routes.frontend.public.attendee.signup')}}">Sign Up to Workshops</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/public/home.js') }}" defer></script>

{% endblock %}