{% extends '_layout.html' %}

{% block title %}Public Schedule{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="main-content">

        <h1>Public Schedule</h1>
        <div id="event-details"></div>
        <div class="grid-container mb-3" id="key-container"></div>
        <div id="schedule-container" class="schedule-container">
            <div class="grid-container" id="grid-container">
        </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/public/public_schedule.js') }}" type="module" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/schedule_grid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/general/workshop_card.css') }}">
{% endblock %}