{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="main-content">
        <div class="row row-deck row-cards">
            <div class="col-4">
                <div class="card">
                    <div class="card-body" style="height: 10rem">
                        <h1>Event Schedule</h1>
                        <p>This is the Event Schedule page!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="select-event" id="event-selection">
            <h1>Select an Event</h1>
        </div>

        <h2 id="event-details"></h2>

        <div class="grid-container" id="grid-container">
        </div>

        <div>
            <table id="event-schedule-table">
                <thead id="event-schedule-table-head">
                    <!-- Data will be dynamically added here -->
                </thead>
                <tbody id="event-schedule-table-body">
                    <!-- Data will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>

    <div id="table-add-icon" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-table-plus">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" />
            <path d="M3 10h18" />
            <path d="M10 3v18" />
            <path d="M16 19h6" />
            <path d="M19 16v6" />
        </svg>
    </div>

    <div id="bin-icon" style="display: none;">
        <span class="text-red">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg>
        </span>
    </div>

    <aside class="sidebar">
        <h2>Test Side bar</h2>
        <input id="workshop-search-box" class="form-control" type="text" oninput="WorkshopSearchOnChange()"/>
        <div id="workshop-list"></div>
    </aside>

</div>

<script src="{{ url_for('static', filename='js/admin/event_schedule.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/event_schedule.css') }}">

{% endblock %}