{% extends '_layout.html' %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="row row-deck row-cards">
    <div class="col-4">
        <div class="card">
            <div class="card-body" style="height: 10rem">
                <h1>Events</h1>
                <p>This is the Events page!</p>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-event-modal">Add
    Event</button>

<div class="modal" id="add-event-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Event Name</label>
                    <input type="text" class="form-control" name="name" id="add-event-name"
                        placeholder="Your event name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Event Description</label>
                    <textarea class="form-control" rows="5" id="add-event-description" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" class="form-control" name="name" id="add-event-date" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Event Password</label>
                    <input type="text" class="form-control" name="name" id="add-event-password"
                        placeholder="password123" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="AddEventOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Create new Event
                </a>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="events-table" class="table table-vcenter">
        <thead class="sticky-top">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Passwords</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Data will be dynamically added here -->
        </tbody>
    </table>
</div>

<div class="modal" id="edit-event-modal" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-event-id" name="event_id">
                <div class="mb-3">
                    <label class="form-label">Event Name</label>
                    <input type="text" class="form-control" name="name" id="edit-event-name"
                        placeholder="Your event name" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Event Description</label>
                    <textarea class="form-control" rows="5" id="edit-event-description" name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Date</label>
                    <input type="date" class="form-control" name="name" id="edit-event-date" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Event Password</label>
                    <input type="text" class="form-control" name="name" id="edit-event-password"
                        placeholder="password123" />
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <a href="#" onclick="EditEventOnClick()" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Edit Event
                </a>
            </div>
        </div>
    </div>
</div>

<p id="events-request-response"></p>

<script src="{{ url_for('static', filename='js/admin/events.js') }}" defer></script>

{% endblock %}