<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - JAMS</title>
    <script src="{{ url_for('static', filename='js/nav.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general/sweet_alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general/global.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="theme-dark">
    <div id="nav-refresh" refresh="false" style="display: none;"></div>
    <div id="nav-container"></div>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-body">
                <div id="body-container" class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>