{% extends '_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row row-deck row-cards">
    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-body" style="height: auto">
          <h1>Workshop catalog</h1>
          <p>This is the Workshop Catalog page!</p>
        </div>
      </div>
    </div>
  </div>

  <a type="button" class="btn btn-primary mb-3" href="{{ url_for('routes.frontend.private.management.add_workshop') }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 5l0 14" />
        <path d="M5 12l14 0" />
    </svg>
    <span class="btn-text">Add Workshop</span>
  </a>

  <input id="quick-filter" type="text" class="form-control mb-2" maxlength="255" autocomplete="off" placeholder="Search..." oninput="applyQuickFilter()">

  <div id="workshops-data-grid-container">
    <div id="workshops-data-grid" class="ag-theme-quartz" style="height: 500px"></div>
  </div>

  <script src="{{ url_for('static', filename='js/management/workshops/workshops.js') }}" defer></script>
</div>
{% endblock %}