{% extends '_layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="mx-auto col-lg-3 col-md-6 col-sm-12">
    <div class="card p-2">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label class="form-label">{{ form.username.label }}</label>
                {{ form.username(class_="form-control") }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.password.label }}</label>
                {{ form.password(class_="form-control") }}
            </div>
            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}

