<!DOCTYPE html>
<html>
    <head><title>Register</title></head>
    <body>
        <!--Navigation Bar-->
        <div id="nav-wraper">

        </div>

        <script>
            $(function() {
                $("#nav-wraper").load("nav.html")
            });
        </script>
        <!--End of Navigation Bar-->
        
        <h1>Register</h1>
        <form method="POST" action="{{ url_for('main.register') }}">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username }}<br>
            {{ form.password.label }} {{ form.password }}<br>
            {{ form.submit }}
        </form>
    </body>
</html>